.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .home-main-section .img-wrapper {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
  }
  
  .home-main-section .lady-image {
    background-image: url("woman-reading.png");
    flex-grow: 1;
    max-height: 70vh;
    min-width: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  
  .home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
  }
  
  @media (max-width: 1024px) {
    .home-main-section .img-wrapper {
      display: none;
    }
  
    .home-main-section {
      justify-content: center;
    }
  }

  .greeting {
      background-color: #FAEBCD;
      text-align: center;
      font-size: 1.5em;
      align-items: stretch;
  }

  @media (max-width: 1024px) {
    .greeting {
      display: block;
    }
  }
  

  .greeting, .txt {
    display: inline-block;
    padding: 3rem 0rem;
  }

  .greeting a {
      color: #F8F8F8;
      background-color: #434343;
      text-decoration: none;
      padding: 1rem 3rem;
      margin: 1rem;
      border-radius: .5rem;
      text-decoration: none;
      font-size: 2rem;
      justify-content: center;
  }

  /*Post Slider*/
  .post-slider {
    position: relative;
    margin: 2rem;
    max-width: 1400px;
  }

  .post-slider .slider-title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto;
  }

  .post-slider .next {
    position: absolute;
    top: 50%;
    right: 150px;
    font-size: 2rem;
    color: #F7C873;
    cursor: pointer;
  }

  .post-slider .prev {
    position: absolute;
    top: 50%;
    left: 150px;
    font-size: 2rem;
    color: #F7C873;
    cursor: pointer;
  }

  @media (max-width: 1400px){
    .post-slider .next {
      right: 70px;
    }
    .post-slider .prev {
      left: 70px;
    }
  }

  @media (max-width: 1100px){
    .post-slider .next {
      right: 30px;
    }
    .post-slider .prev {
      left: 30px;
    }
  }

  @media (max-width: 800px){
    .post-slider .next {
      right: 10px;
    }
    .post-slider .prev {
      left: 10px;
    }
  }

  .post-slider .post-wrapper{
    max-width: 962px;
    width: 85%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0px;
  }

  .post-slider .post-wrapper .post{
    max-width: 400px;
    height: auto;
    width: auto;
    display: inline-block;
    background: #F8F8F8;
    margin: 10px;
  }

  .post-slider .post-wrapper .post .slider-image {
    max-height: 175px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .post-info a {
    display: float;
    text-decoration: none;
    color: #434343;
    font-size: 1.25rem;
  }
  
  .post-slider .post-wrapper .post .post-info {
    height: auto;
    padding: 1.5rem;
    text-align: center;
  }

  .fixed-image {
    height: 50vh;
    background-image: url(images/many-books.jpeg);
    background-attachment: fixed;
    background-size: cover;
  }

  .open-books {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 4rem 2rem;
  } 






  

